* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  background-image: url('../src/background.jpg');
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

[data-bg-color=-app-color-1] {
  background-color: #3891a6;
}

[data-bg-color=-app-color-2] {
  background-color: #4c5b5c;
}

[data-bg-color=-app-color-3] {
  background-color: #fde74c;
}

[data-bg-color=-app-color-4] {
  background-color: #db5461;
}

[data-bg-color=-app-color-5] {
  background-color: #e3655b;
}

[data-bg-color=-app-color-6] {
  background-color: #9381ff;
}


.iphone-container {
  position: relative;
  width: 400px;
  height: 800px;
  background-color: #000;
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.screen {
  position: absolute;
  float: left;
  background-image: url('../src/W3VCuv.jpg');
  animation: fade-in 0s ease-in forwards;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 20px;
  padding: 20px;
  border: 5px solid;
  border-color: green;
}

.o-apps {
  display: flex;
  margin-bottom: -30px;
  width: 390px;
  flex-wrap: wrap;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
.o-apps > * {
  margin: 0 15px 30px;
}
.-app-open .o-apps {
  transform: scale(0.8);
}

.c-app__holder {
  display: none;
}

.c-app__tile {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  flex-direction: column;
  color: #fff;
  text-decoration: none;
  margin-left: 2%;
  top: 15%;
}

.app-button img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.c-app-container {
  visibility: hidden;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  transform-origin: top left;
  width: 100%;
  min-height: 100vh;
  border: 5px;
  /*
  &__content{
  	background:red;
  	min-height:100vh;
  	transition:opacity .15s linear 0s;

  	.-app-open &{
  		opacity:1;
  	}
  }
  */
}
.c-app-container__inner {
  color: #fff;
  padding: 50px;
  opacity: 0;
  transition: opacity 0.15s linear 0s;
}
.-app-open .c-app-container__inner {
  opacity: 1;
  transition: opacity 0.15s linear 0.15s;
}
.c-app-container__header {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}
.c-app-container__dismiss {
  font-size: 24px;
}
.c-app-container__dismiss > * {
  pointer-events: none;
}
.-app-open .c-app-container {
  visibility: visible;
  transition: transform 0.3s ease-in-out 0s, visibility 0s linear 0s;
}
.-app-close .c-app-container {
  visibility: hidden;
  transition: transform 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
}